<!DOCTYPE html>
<html lang="en-US">
<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="/css/style_dark.css">
</head>
  
<body>
	<div>
		<h1 title = "(insert url)"><h1 class = "header"><a href="http://(insert url)"> New Social Network </a></h1>
 	</div>
	<div>
		<ul>
			<li><a href="/feed">Feed</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/profile">Profile</a></li>
		</ul>
	</div>
	<div>
		<div>
			<head>
				<title>Feed</title>
			</head>
		</div>

		<div>
			<h1 class = title> Feed </h1>
		</div>

		<body>
			<div>
				<h2> (Insert content)</h2> 
			</div>
		</body>
	</div>  
</body>

</html>