a:link, a:visited, a:active{
  color: #C3A093;
  font-size: 25px;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family:"Poppins", sans-serif;
}

button[type=customize] {
  font-size: 20px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid black;
  color: black;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  margin-left: 8px;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  justify-content: center;
}

button[type=customize]:hover {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: white;
}

button[type=post] {
  font-size: 20px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid black;
  color: black;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  /*margin-left: 8px;*/
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  justify-content: center;
}

button[type=post]:hover {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: white;
}

h2 {
  background-color: #708090;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  margin-left: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  width: 230px;
}

input[type=goToLogin] {
  background-color: #DEB887;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: auto;
  margin-top: 8px;
  padding: 14px 20px;
  text-align: center;
  width: 35%;
}

li {
  display: inline;
  text-align: center;
}

p {
  text-align: center;
  color: black;
  font-size: 20px;
}

.app {
  text-align: center;
}

.appHeader {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.appLink {
  color: #61dafb;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

.fontPicker {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

.home {

}

.image {
  border: "2px dashed black";
  height: "60px";
  width: "60px";
}

.intro {
  color: black;
  font-size: 18px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
}

.multipleImages {
  border-radius: 10px;
  height: auto;
  left: 30px;
  margin-top: 20px;
  margin-right: 20px;
  width: 500px;
}

p.navigation {
  background-color: #DCDCDC;
  border-width: 0;
  list-style: none;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.newSocialMedia {
  background-color: #708090;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-right: 30px;
  padding-left: 60px;
}

.picker {
  padding-left:30px;
}

.posts {
  border-radius: 10px;
  color: black;
  font-size: 20px;
  margin-left: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
  width: 300px;
}

.sameLineRight {
  display: inline-block;
  margin-right: 15%;
  text-align: right;
  width: 700px; 
}

.textPost {
  display: inline-block;
  margin-right: 13px;
}

.upload {
  background-color: #708090;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  justify-content: left;
  margin-top: 20px;
  padding: 14px 20px;
  text-align: center;
  width: 15%;
}

.welcomeMessage {
  color: black;
  font-size: 40px;
  text-align: center;
}

.wrapper {

}

button[type=accountManagement] {
  font-size: 20px;
  background-color: #708090;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  width: 250px;
}

button[type=accountManagement]:hover {
  background: #4682B4;
  color: white;
}

/*button[type=upload] {
  font-size: 20px;
  background-color: #708090;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  width: 250px;
}*/

/*button[type=upload]:hover {
  background: #4682B4;
  color: white;
}*/

/*input[type=file] {
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: left;
  margin: auto;
  margin-left: 20px;
  margin-top: 8px;
  padding: 14px 20px;
  text-align: center;
  width: 25%;
}*/

/*input[type=file]:hover {
  background: #4682B4;
  color: white;
}*/

/*input[type=submit] {
  width: 40%;
  font-size: 20px;
  background-color: #708090;
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}*/

/*input[type=text], select {
  width: 40%;
  font-size: 15px;
  background-color: #DCDCDC;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 6px 6px;
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
