a:link, a:visited, a:active{
  color: #9ebeff;
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family:"Poppins", sans-serif;
}

button {
  font-family:"Poppins", sans-serif;
}

button[type=customize] {
  float: right;
  font-size: 25px;
  background-color: #9ebeff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  border: none;
  border-radius: 10px;
  left: 73%;
  margin-top: 110px;
  cursor: pointer;
  text-align: center;
  top: 0;
  transition-duration: 0.4s;
  z-index: 1; 
}

button[type=customize]:hover {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: white;
}

button[type=post] {
  float: right;
  font-size: 25px;
  background-color: #9ebeff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  border: none;
  border-radius: 10px;
  left: 77%;
  margin-top: 110px;
  cursor: pointer;
  text-align: center;
  top: 0;
  transition-duration: 0.4s;
  z-index: 1; 
}

button[type=post]:hover {
  background: #6494f5;
  color: white;
}

button[type=logOut] {
  float: right;
  font-size: 25px;
  background-color: #9ebeff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  border: none;
  border-radius: 10px;
  left: 73%;
  margin-top: 200px;
  cursor: pointer;
  text-align: center;
  top: 0;
  transition-duration: 0.4s;
  z-index: 1; 
}

input[type=logOut]:hover {
  background: #6494f5;
  color: white;
}

input[type=submit] {
  font-size: 15px;
  background-color: #9ebeff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background: #6494f5;
  color: white;
}

input[type=text] {
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px 10px;
  width: 250px;
}

h1 {
  background-color: #708090;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: auto;
}

h2 {
  background-color: #708090;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  margin-left: 190px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: auto;
}

/*input[type=goToLogin] {
  background-color: #DEB887;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: auto;
  margin-top: 8px;
  padding: 14px 20px;
  text-align: center;
  width: 35%;
}*/

i {
  margin-right: 2px;
}

li {
  padding-left: 15px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  display: block;
  background-color: white;
  border-radius: 10px;
}

li.react-search-box-dropdown-list-item {
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  text-align: center;
  color: black;
  font-size: 20px;
}

.app {
  text-align: center;
}

.appHeader {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.colorPicker {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  border: none;
  left: 72%;
  margin-top: 340px;
  top: 0;
  z-index: 1; 
}

.fontPicker {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  border: none;
  left: 72%;
  margin-top: 280px;
  top: 0;
  z-index: 1; 
}

.home {

}

.imagePosts {
  border-radius: 10px;
  height: auto;
  margin-top: 30px;
  margin-left: 35%;
  margin-right: 20px;
  width: 500px;
}

.intro {
  color: black;
  font-size: 18px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
}

.navigation {
  height: auto; 
  width: auto; 
  position: fixed; 
  z-index: 1; 
  top: 105px; 
  left: 17%;
  overflow-x: hidden;
}

.newSocialMedia {
  background-color: #708090;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 15%;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
}

.postsHeader {
  border-radius: 10px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 40%;
  text-align: left;
  width: auto;
}

.postImage {
  background-color: #9ebeff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  justify-content: left;
  margin-top: 30px;
  padding: 20px 20px;
  text-align: center;
  width: 320px;
  position: fixed;
  left: 69%;
}

.postImage:hover {
  background-color: #6494f5;
}

.postText {
  border-radius: 10px;
  background-color: #708090;
  position: fixed;
  left: 69%;
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*.sameLineRight { 
  display: inline-block;
  margin-right: 15%;
  text-align: right;
  width: 700px; 
}*/

.searchBox {
  margin-top: 30px;
  margin-left: 30%;
  width: 250px;
  background-color: "white";
}

.textPosts {
  border-radius: 10px;
  color: black;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40%;
  text-align: left;
  width: 420px;
}

.userGreeting {
  font-size: 30px;
  margin-left: 35%;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-top: 15px;
  width: auto;
  max-width: 300px;
}

.welcomeMessage {
  color: black;
  font-size: 40px;
  text-align: center;
}
